* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo-block {
    margin: 10px 10px;
}

.photo-block-img img {
    max-width: 100%;
    height: auto;
}

.photo-block-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.photo-block-item {
    flex: 0 0 20%;
    padding: 0 5px;
    margin-bottom: 20px;
}

.photo-block-title {
    margin-top: 5px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}